<div class=" w-full flex items-center justify-center">
  <div class="w-full py-2">

    <div
      class="bg-white w-5/6 md:w-3/4 lg:w-2/3 xl:w-[500px] 2xl:w-[550px] mt-8 mx-auto px-16 py-8 rounded-lg shadow-2xl">

      <h2 class="text-center text-2xl font-bold tracking-wide text-gray-800">Registrar Cita</h2>

      <form [formGroup]="formGroup" class="my-8 text-sm">

          <div class="flex flex-col my-4 relative">
            <label for="patient" class="text-gray-700">Paciente</label>
            <input id="patient" formControlName="patient" type="text" placeholder="Ingrese el número de identidad"
                   class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900"/>

            <ul class="">
              <div class="absolute bg-white w-full rounded shadow">
                <li class="flex items-center px-2 h-10 hover:bg-gray-200 border-b"
                    *ngFor="let suggestion of suggestions"
                    value="{{suggestion._id}}" (click)="setInput(suggestion)">{{suggestion.name}}</li>
              </div>
            </ul>
          </div>

          <div class="flex flex-col my-4">
            <label for="specialty" class="text-gray-700">Especialidad</label>
            <select id="specialty" formControlName="specialty"
                    class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900">


              <option *ngFor="let campo of especialidades" name="specialty"
                      value="{{campo._id}}">{{campo.name}}</option>
            </select>
          </div>

          <div class="flex flex-col my-4">
            <label for="doctor" class="text-gray-700">Medico</label>
            <select id="doctor"
                    formControlName="doctor"
                    class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900">
              <option *ngFor="let campo of doctors" name="specialty" value="{{campo._id}}">{{campo.name}}</option>
            </select>
          </div>

          <div class="flex flex-col my-4">
            <label for="date" class="text-gray-700">Fecha</label>
            <input type="date" id="date" formControlName="date"
                   class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900"            >
          </div>

          <div class="flex flex-col my-4">
            <label for="hour" class="text-gray-700">Hora</label>
            <select id="hour"
                    formControlName="hour"
                    class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900">
              <option *ngFor="let campo of availableHour" name="specialty" value="{{campo}}">{{campo}}</option>
            </select>

          </div>

          <div class="my-4 flex items-center justify-center space-x-4">
            <button (click)="guardar()"
                    class="w-full bg-sky-400 hover:bg-sky-500 rounded px-8 py-2 text-gray-100 transition duration-150 uppercase">
              Guardar
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
